<script type="text/javascript">
    $(document).ready(function(){
        $(document).ajaxSend(function(event, xhr, settings) {
            function safeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            if (!safeMethod(settings.type) && !settings.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            }
        });
        $("#sortable").sortable({update: function(event, ui) {
            $.post("{{ url }}", $("#sortable").sortable("serialize"))
                    .error(function() { $("#sortable").sortable("cancel"); });
        }, containment: 'parent'});
        $("#sortable").disableSelection();
    });
</script>