{% extends "courses/base.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.ui.datetime.css" />
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ui.datetime.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>
{% endblock %}

{% block breadcrumbs %}
    {% for breadcrumb in request.breadcrumbs %}
        {%  if not forloop.last %}
            <a href="{{ breadcrumb.url }}">{{ breadcrumb.name.title }}</a> &rsaquo;
        {% else %}
            {{ breadcrumb.name.title }}
        {% endif %}
    {% endfor %}
{% endblock %}
