{% extends "teacher/base.html" %}

{% load teacher_extras %}

{% block js %}
    {% do_tabs "#tabs" %}
{% endblock %}

{% block actions %}
    <li>
        <a href="{% url teacher:delete_course course.id %}">Delete</a>
    </li>
    <li>
        <a href="{% url teacher:update_course course.id %}">Edit</a>
    </li>
{% endblock %}

{% block content %}
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Current Tests</a></li>
            <li><a href="#tabs-2">Sent Tests</a></li>
        </ul>
        <div id="tabs-1">
            <ul>
                {% for test in course.test_set.all %}
                    {% if not test.is_sent %}
                        <li><a href="{{ test.get_absolute_url }}">{{ test }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <p><a href="{% url teacher:create_test course.id %}">+ Add test</a></p>
        </div>
        <div id="tabs-2">
            <ul>
                {% for test in course.test_set.all %}
                    {% if test.is_sent %}
                        <li><a href="{{ test.get_absolute_url }}">{{ test }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}