{% extends "teacher/base.html" %}

{% block actions %}
    {% if answer %}
        <li>
            <a href="{% url teacher:delete_multiplechoiceanswer answer.id %}">Delete</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <form action="{% if answer %}{{ answer.get_absolute_url }}{% else %}{% url teacher:create_multiplechoiceanswer question.id %}{% endif %}" method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">{% if answer %}Update{% else %}Create{% endif %}</button>
    </form>
{% endblock %}