{% extends "teacher/base.html" %}

{% load teacher_extras %}

{% block js %}
    {% if question %}
        {{ block.super }}
        {% do_sortable "teacher:sort_answer" %}
    {% endif %}
{% endblock %}

{% block actions %}
    {% if question %}
        <li>
            <a href="{% url teacher:delete_question question.id %}">Delete</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <form action="{% if question %}{{ question.get_absolute_url }}{% else %}{% url teacher:create_question test.id %}{% endif %}" method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">{% if question %}Update{% else %}Create{% endif %}</button>
    </form>
    {% if question %}
        <p><a href="{% if question.type == 'multiple_choice' %}{% url teacher:create_multiplechoiceanswer question.id %}{% else %}{% url teacher:create_answer question.id %}{% endif %}">+ Add answer</a></p>
        {% if question.answer_set.all.count %}
            <p class="underline">Answers:</p>
            <ul id="sortable">
				{% for answer in question.answer_set.all %}
					<li id="answer_{{ answer.id }}"><a href="{% if question.type == 'multiple_choice' %}{% url teacher:update_multiplechoiceanswer answer.id %}{% else %}{{ answer.get_absolute_url }}{% endif %}">{{ answer }}</a></li>
				{% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}