{% extends "teacher/base.html" %}

{% block content %}
    <div class="grid_12 alpha omega">
        <h3>Add questions</h3>
    </div>
    <div class="grid_12 alpha omega">
        <form action="" method="POST">
            {% for form in formset %}
                <fieldset>
                    <legend>Question #{{ forloop.counter }}</legend>
                    <ul>
                        {{ form.as_ul }}
                    </ul>
                </fieldset><br />
            {% endfor %}
            {{ formset.management_form }}
            <p><button type="submit">Create</button></p>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}