body {
    font: 62.5% "Trebuchet MS", sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.errorlist {
    color:#FF0000;
}

.ui-icon {
    position:relative;
    right:5px;
    float:left;
}

.ui-state-highlight {
    margin-top: 20px;
    padding: 0 .7em;
}

#sortable {
    list-style:none;	
}

#result-list, #result-list li {
    margin-left: 0;
    padding-left: 0;
}

