body {
    font: 62.5% "Trebuchet MS", sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.errorlist {
    color:#FF0000;
}

#sortable {
    list-style:none;	
}

#result-list, #result-list li {
    margin-left: 0;
    padding-left: 0;
}

