.errorlist {
    color:#FF0000;
}

.ui-icon {
	position:relative;
	top:4px;
	right:5px;
    float:left;
}

.ui-state-highlight {
    margin-top: 20px;
    padding: 0 .7em;
}

#sortable {
    list-style:none;	
}

#messages {
    margin-top: 0;
}
