{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.ui.datetime.css" />
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ui.datetime.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>
{% endblock %}

{% block navigation %}
	<li class="grid_2"><a href="{% url course_list %}"><span class="ui-icon ui-icon-home"></span>Home</a></li>
{% endblock %}
