{% extends "teacher/base.html" %}

{% block header %}
	<ul class="grid_9">
        <li class="grid_3 alpha"><a href="{% url course_detail course.id %}"><span class="ui-icon ui-icon-arrowthick-1-w"></span>Back to Course</a></li>
    	<li class="grid_3"><a href="{% url test_detail course.id test.id %}"><span class="ui-icon ui-icon-arrowthick-1-w"></span>Back to Test</a></li>
    	<li class="grid_3 omega"><a href="{{ question.get_absolute_url }}"><span class="ui-icon ui-icon-arrowthick-1-w"></span>Back to Question</a></li>
	</ul>
{% endblock %}

{% block content %}
    <p>Are you sure you want to delete this answer?</p>
    <ul>
    	<li>{{ object }}</li>
    </ul>
    <form action="{% url delete_multiplechoiceanswer course.id test.id question.id object.id %}" method="POST">
    	<button>Yes, I'm sure.</button>	
    	{% csrf_token %}
    </form>
{% endblock %}

