{% extends "teacher/base.html" %}

{% block header %}
    <ul class="grid_6">
        <li class="grid_3 alpha"><a href="{% url course_detail course.id %}"><span class="ui-icon ui-icon-arrowthick-1-w"></span>Back to Course</a></li>
        <li class="grid_3 omega"><a href="{{ test.get_absolute_url }}"><span class="ui-icon ui-icon-arrowthick-1-w"></span>Back to Test</a></li>
    </ul>
{% endblock %}

{% block content %}
	<p>{{ question }}</p>
	{% if question.answer_set.all.count %}
		<p class="underline">Answers:</p>
		<ul>
			{% for answer in question.answer_set.all %}
				<li><a href="{% if question.question_type == 'multiple_choice' %}{% url multiplechoiceanswer_detail course.id test.id question.id answer.id %}{% else %}{% url answer_detail course.id test.id question.id answer.id %}{% endif %}">{{ answer }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
