{% extends "base_teacher.html" %}

{% block header %}
	<ul class="grid_9">
        <li class="grid_3 alpha"><a href="{% url teacher:course_detail course.id %}"><span class="ui-icon ui-icon-arrowthick-1-w"></span>Back to Course</a></li>
    	<li class="grid_3"><a href="{% url teacher:test_detail test.id %}"><span class="ui-icon ui-icon-arrowthick-1-w"></span>Back to Test</a></li>
    	<li class="grid_3 omega"><a href="{{ question.get_absolute_url }}"><span class="ui-icon ui-icon-arrowthick-1-w"></span>Back to Question</a></li>
	</ul>
{% endblock %}

{% block content %}
    <form action="{% if answer %}{{ answer.get_absolute_url }}{% else %}{% url teacher:create_answer question.id %}{% endif %}" method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">{% if answer %}Update{% else %}Create{% endif %}</button>
        {% if answer %}
            <div id="delete">
                <a class="ui-state-error" href="{% url teacher:delete_answer answer.id %}"><span class="ui-icon ui-icon-closethick"></span>Delete</a>
            </div>
        {% endif %}
    </form>
{% endblock %}