{% extends "base_teacher.html" %}

{% load teacher_extras %}

{% block js %}
	{% do_tabs "#tabs" %}
{% endblock %}

{% block header %}
	<ul class="grid_6">
		<li class="grid_3 alpha">
			<a href="{% url teacher:create_course %}"><span class="ui-icon ui-icon-plusthick"></span>Add Course</a>
		</li>
		<li class="grid_3 omega">
			<a href="{% url teacher:create_student %}"><span class="ui-icon ui-icon-plusthick"></span>Add Student</a>
		</li>
	</ul>
{% endblock %}

{% block content %}
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Courses</a></li>
			<li><a href="#tabs-2">Students</a></li>
		</ul>
		<div id="tabs-1">
			<ul>
				{% for course in courses %}
					<li><a href="{% url teacher:course_detail course.id %}">{{ course }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div id="tabs-2">
			<ul>
				{% for student in students %}
					<li><a href="{{ student.get_profile.get_absolute_url }}">{{ student.get_full_name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}