{% extends "base_teacher.html" %}

{% block header %}
    <ul class="grid_6">
        <li class="grid_3 alpha"><a href="{% url teacher:course_detail course.id %}"><span class="ui-icon ui-icon-arrowthick-1-w"></span>Back to Course</a></li>
        <li class="grid_3 omega"><a href="{{ test.get_absolute_url }}"><span class="ui-icon ui-icon-arrowthick-1-w"></span>Back to Test</a></li>
    </ul>
{% endblock %}

{% block content %}
    <p>Are you sure you want to delete this test?</p>
    <ul>
    	<li>{{ test }}</li>
    </ul>
    <form action="{% url teacher:delete_test test.id %}" method="POST">
    	<button>Yes, I'm sure.</button>	
    	{% csrf_token %}
    </form>
{% endblock %}

