{% extends "base_teacher.html" %}

{% load teacher_extras %}

{% block js %}
    {% if not test.is_sent %}
        {{ block.super }}
        {% do_sortable "teacher:sort_question" %}
	{% endif %}
{% endblock %}

{% block header %}
    <ul class="grid_6">
        <li class="grid_3 alpha">
            <a href="{% url teacher:course_detail course.id %}"><span class="ui-icon ui-icon-arrowthick-1-w"></span>Back to Course</a>
        </li>
        <li class="grid_3 omega">
            {% if not test.is_sent %}
                <a href="{% url teacher:create_question test.id %}"><span class="ui-icon ui-icon-plusthick"></span>Add question</a>
            {% endif %}
        </li>
    </ul>
{% endblock %}

{% block content %}
    {% if not test.is_sent %}
		<ul id="sortable" class="grid_5">
			{% for question in test.question_set.all %}
				<li id="question_{{ question.id }}"><a href="{{ question.get_absolute_url }}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{ question }}</a></li>
			{% endfor %}
		</ul>
    {% else %}
		<ul class="grid_5">
			{% for question in test.question_set.all %}
				<li><a href="{% url teacher:question_detail question.id %}">{{ question }}</a></li>
			{% endfor %}
		</ul>    
    {% endif %}
{% endblock %}

{% block footer %}
    <ul class="grid_6">
        <li class="grid_2 alpha">
            <a class="ui-state-error" href="{% url teacher:delete_test test.id %}"><span class="ui-icon ui-icon-closethick"></span>Delete</a>
        </li>
        <li class="grid_2">
            <a href="{% url teacher:update_test test.id %}"><span class="ui-icon ui-icon-pencil"></span>Edit</a>
        </li>
        <li class="grid_2 omega">
            <a href="{% url teacher:send_test test.id %}"><span class="ui-icon ui-icon-mail-closed"></span>Send</a>
        </li>
    </ul>
{% endblock %}