<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Test Administration</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/960.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/all.css" />
    {% block css %}{% endblock %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("a, button").button();
        });
    </script>
    {% block js %}{% endblock %}
</head>
<body>
    <div class="container_12">
        <ul class="grid_12">
            {% block navigation %}{% endblock %}
        </ul>
        {% if messages %}
            <ul id="messages" class="grid_12">
                {% for message in messages %}
                    <li class="grid_11">
                        {% if message.level == 25 %}
                            <div class="ui-widget">
                                <div class="ui-state-highlight ui-corner-all">
                                    <p><span class="ui-icon ui-icon-info"></span>
                                        <strong>Hey!</strong> {{ message }}</p>
                                </div>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="grid_7">
            {% block header %}{% endblock %}
        	<div class="grid_6 prefix_1">
            	{% block content %}{% endblock %}
            </div>
            {% block footer %}{% endblock %}
        </div>
    </div>
</body>
</html>