{% extends "base_teacher.html" %}

{% load teacher_extras %}

{% block js %}
    {% do_tabs tabs %}
{% endblock %}

{% block content %}
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Current Tests</a></li>
            <li><a href="#tabs-2">Taken Tests</a></li>
        </ul>
        <div id="tabs-1">
            <ul>
                {% for test in tests %}
                    <li><a href="#">{{ test }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div id="tabs-2">
            <ul>
                {% for test in taken_tests %}
                    <li><a href="#">{{ test }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}